.body{
    margin: 0;
    margin-top: 3%;
    padding: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.box{

    width: 90% !important;
    height: 25% !important;
    margin: 0 auto;
    margin-top: 0.5em;
}
.slider{
    display: flex;
    width: 100% !important;
    height: 100% !important;
    border-radius: 15px;
    margin-bottom: 0.5em;
    margin-right: 1em;
    
}

.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.sl-img{
    width: 100% !important;
    object-fit: cover;
    margin-top: -25%;

}


ion-slide{
    width: 100% !important;
    min-height: 150% !important;
}
@media screen and (max-width: 2900px) {
    .cr-content {
        display: flex;
        overflow-x: scroll;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
    }   

    .cr-content::-webkit-scrollbar {
        display: none;
    }

    .cr-card {
        width: 200px;
        height: 100px;
        position: relative;
    }
    .cr-title { 
        margin-top: 1em;
        margin-left: 1em;
        color: white;
        font: bold 16px/12px Arial;
    }   
    
    .cr-subtitle { 
        margin-top: 0.5em;
        margin-left: 1em;
        color: white;
        font: 12px/10px Arial;
    }   
    
    .cr-img {
        display: inline;
        position: absolute;
        width: 100px;
        height: 25px;
        bottom: 0.5em;
        right: 0.5em;
    }

    
    ion-button {
        --text-decoration: none; 
        text-transform: none;
    }

    ion-segment-button {
        min-width: auto !important;
        font: 10px Arial;
    }
    
    hr{
        width: 96%;
        position: relative;

        left: 2%;
    }
    
}
@media screen and (max-width: 500px) {
    .cr-card {
        width: 45%;
        min-width: 45%;
        height: 90px;
    }

    .cr-img {
        display: none;
    }
}
  