.body{
    margin: 0;
    margin-top: 3%;
    padding: 0;
    height: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.slider{
    display: flex;
    width: 100% !important;
    height: 25% ;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.slides{
    width: 500%;
    height: 100%;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 2s;
}
.sl-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.slidetext{
    position: absolute;
    width: 40%;
    display: flex;
    left: 12%;
    color: white;
    text-align: left;
    margin-top: -40%;
   
}
.slidetext h2{
    font-size: 20px !important;
    font-weight: 800 !important; 
}
.slidetext a{
    font-size: 18px !important;
    font-weight: 400 !important; 
}

.navigation-manual{
    position: absolute !important;
    width: 90%;
    margin-top: -25px;
    display: flex;
    justify-content: center;

}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background-color:#000000 ;
}
.manual-btn{
    border: 2px solid #000000;
    padding: 2px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
.navigation-auto{
    position: absolute;
    display: flex;
    width: 90%;
    justify-content: center;
    margin-top:-25px;
}
.navigation-auto div{
    border: 2px solid #000000;
    padding: 2px;
    border-radius: 10px;
    transition: 1s;
}
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #000000;
}
#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #000000;
}
#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #000000;
}
#radio4:checked ~ .navigation-auto .auto-btn4{
    background-color: #000000;
}
@media screen and (max-width: 2900px) {
    .cr-content {
        display: flex;
        overflow-x: scroll;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: left;
    }   

    .cr-content::-webkit-scrollbar {
        display: none;
    }

    .cr-card {
        width: 200px;
        height: 100px;
        position: relative;
    }
    .cr-title { 
        margin-top: 1em;
        margin-left: 1em;
        color: white;
        font: bold 16px/12px Arial;
    }   
    
    .cr-subtitle { 
        margin-top: 0.5em;
        margin-left: 1em;
        color: white;
        font: 12px/10px Arial;
    }   
    
    .cr-img {
        display: inline;
        position: absolute;
        width: 100px;
        height: 25px;
        bottom: 0.5em;
        right: 0.5em;
    }

    
    ion-button {
        --text-decoration: none; 
        text-transform: none;
    }

    ion-segment-button {
        min-width: auto !important;
        font: 10px Arial;
    }
    
    hr{
        width: 96%;
        position: relative;

        left: 2%;
    }
    
}
@media screen and (max-width: 500px) {
    .cr-card {
        width: 45%;
        min-width: 45%;
        height: 90px;
    }

    .cr-img {
        display: none;
    }
}
  